
 .up-arrow-container_2 {
    width: 50%;
    height: 10%;
    position: fixed;
    z-index: 3;
    top: 9%;
    right: 4%;
 }

 .up-arrow_2 {
    color: #dc143c;
    animation: up-animation 1s infinite;
    margin: 0;
 }

 .down-arrow-container_2 {
    width: 50%;
    height: 10%;
    position: fixed;
    z-index: 3;
    top: 32.5%;
    left: 0;
 }

 .down-arrow_2 {
    color: #dc143c;
    transform: rotate(-180deg);
    animation: down-animation 1s infinite;
    margin: 0;
 }
