  .skill_frame {
    margin: 0px !important;
    /* padding: 0px !important; */
  }

  .skill_level_frame {
    width: 175px;
    height: 35px;
    background-color: black;
  }

  .skill_name {
    font-size: 30px;
  }

  .skill_star {
    width: 35px;
    height: 35px;
  }

  .skill_icon {
    width: 50px;
    height: 50px;
  }
